@page "/user"
@attribute [Authorize(Roles = "Administrator")]

<div class="is-flex is-flex-direction-row-reverse mb-1">
    <AuthorizeView Roles="Administrator">
        <div class="buttons">
            <button class="button is-primary is-fullwidth" @onclick="OpenCreateForm">
                <span class="icon">
                    <i class="fas fa-plus"></i>
                </span>
                <span>Toevoegen</span>
            </button>
        </div>
    </AuthorizeView>
</div>

@if (users is null)
{
    <p>Loading...</p>
}
else
{
    <table class="table is-bordered is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Firstname</td>
                    <td>@user.Lastname</td>
                    <td>@user.Email</td>
                </tr>
            }
        </tbody>
    </table>
}
